# Pertemuan 3

#### Import Package

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataxlx = pd.read_excel("C:/Users/LABKOM/Downloads/5210411135/data/data pert 3.xlsx")
datacsv = pd.read_csv("C:/Users/LABKOM/Downloads/5210411135/data/data pert 3.csv", sep=';')

In [3]:
datadict = {
    'nama' : ['rendi', 'vini', 'bagas'],
    'umur' : [22,20,19],
} 

dataset = pd.DataFrame(datadict)

In [4]:
datacsv

   KodeApt   Wilayah St_Milik Jum_kamar
0    104.0    Bantul        Y         3
1    197.0    Sleman        N         3
2      NaN    Sleman        N       NaN
3    201.0     Yogya       12         1
4    203.0     Yogya        Y         3
5    207.0     Yogya        Y       NaN
6      NaN  KL-Progo      NaN         2
7    213.0    Bantul        Y        --
8    215.0    Bantul        Y        na

In [5]:
datacsv.isnull().values.any()

True

In [6]:
datacsv.isnull().sum()
# datacsv.isnull().sum().sum()

KodeApt      2
Wilayah      0
St_Milik     1
Jum_kamar    2
dtype: int64

In [7]:
datacsv['KodeApt']

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [8]:
datacsv['KodeApt'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: KodeApt, dtype: bool

In [9]:
datacsv['Jum_kamar']

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7     --
8     na
Name: Jum_kamar, dtype: object

In [10]:
datacsv['Jum_kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: Jum_kamar, dtype: bool

In [11]:
ms_values = ['n/a', 'na', '--']
df = pd.read_csv("C:/Users/LABKOM/Downloads/5210411135/data/data pert 3.csv", sep=';', na_values=ms_values)

In [12]:
df['Jum_kamar']

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    NaN
8    NaN
Name: Jum_kamar, dtype: float64

In [13]:
df['Jum_kamar'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8     True
Name: Jum_kamar, dtype: bool

In [14]:
df['St_Milik']

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: St_Milik, dtype: object

In [15]:
df['St_Milik'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

In [16]:
count = 0
for r in df['St_Milik']:
    try:
        df['St_Milik'].isnull()
        int(r)
        df.loc[count, 'St_Milik'] = np.nan
    except ValueError:
        pass
    count += 1

In [17]:
df['St_Milik'].isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
Name: St_Milik, dtype: bool

In [18]:
df.isnull().sum()

KodeApt      2
Wilayah      0
St_Milik     2
Jum_kamar    4
dtype: int64

In [19]:
df.isnull().sum().sum()

8

In [20]:
df['KodeApt'].fillna(837, inplace=True)
df['KodeApt']

0    104.0
1    197.0
2    837.0
3    201.0
4    203.0
5    207.0
6    837.0
7    213.0
8    215.0
Name: KodeApt, dtype: float64

In [21]:
df.loc[2, 'KodeApt'] = 8837
df['KodeApt']

0     104.0
1     197.0
2    8837.0
3     201.0
4     203.0
5     207.0
6     837.0
7     213.0
8     215.0
Name: KodeApt, dtype: float64

In [22]:
median = df['Jum_kamar'].median()
df['Jum_kamar'].fillna(median, inplace=True)

df['Jum_kamar']

0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
5    3.0
6    2.0
7    3.0
8    3.0
Name: Jum_kamar, dtype: float64

In [23]:
df

   KodeApt   Wilayah St_Milik  Jum_kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2   8837.0    Sleman        N        3.0
3    201.0     Yogya      NaN        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    837.0  KL-Progo      NaN        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

In [24]:
df.loc[3, 'St_Milik'] = 'N'
df.loc[6, 'St_Milik'] = 'Y'

df['St_Milik']

0    Y
1    N
2    N
3    N
4    Y
5    Y
6    Y
7    Y
8    Y
Name: St_Milik, dtype: object

In [25]:
df.to_csv("C:/Users/LABKOM/Downloads/5210411135/data/hasil-preprocessimng-data-pert-3.csv", index=False)

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
df_clean = pd.read_csv("C:/Users/LABKOM/Downloads/5210411135/data/hasil-preprocessimng-data-pert-3.csv")
df_clean

   KodeApt   Wilayah St_Milik  Jum_kamar
0    104.0    Bantul        Y        3.0
1    197.0    Sleman        N        3.0
2   8837.0    Sleman        N        3.0
3    201.0     Yogya        N        1.0
4    203.0     Yogya        Y        3.0
5    207.0     Yogya        Y        3.0
6    837.0  KL-Progo        Y        2.0
7    213.0    Bantul        Y        3.0
8    215.0    Bantul        Y        3.0

In [30]:
lb = LabelEncoder()

for i in df_clean.columns.values:
    if df_clean[i].dtypes == 'object':
        data =  df_clean[i].append(df_clean[i])
        lb.fit(data.values)
        df_clean[i] = lb.transform(df_clean[i])

df_clean.head(10)

   KodeApt  Wilayah  St_Milik  Jum_kamar
0    104.0        0         1        3.0
1    197.0        2         0        3.0
2   8837.0        2         0        3.0
3    201.0        3         0        1.0
4    203.0        3         1        3.0
5    207.0        3         1        3.0
6    837.0        1         1        2.0
7    213.0        0         1        3.0
8    215.0        0         1        3.0

In [33]:
df_clean.to_csv("C:/Users/LABKOM/Downloads/5210411135/data/hasil-preprocessing-data-pert-3-numeric.csv", index=False)