#### Import all Package

In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn import metrics
from collections import Counter
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler

#### Read Data CSV

In [87]:
data = pd.read_csv('C:/Users/LABKOM/Downloads/5210411135/data/titanic.csv')
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,NaN,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,NaN,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,C123,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,NaN,S,0

#### View Data Info

In [88]:
print(data.info())
print('=' * 70)
print(data.describe())
print('=' * 70)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Cabin        204 non-null    object
 9   Embarked     889 non-null    object
 10  Survived     891 non-null    int64
dtypes: float64(1), int64(5), object(5)
memory usage: 76.7+ KB
None
======================================================================
       PassengerId      Pclass         Age       SibSp       Parch    Survived
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594    0.383838
std     257.353842    0.836071   14.526497    1.102743    0.806057    0.486592
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    0.000000
50%     446.000000    3.000000   28.000000    0.000000    0.000000    0.000000
75%     668.500000    3.000000   38.000000    1.000000    0.000000    1.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000    1.000000
======================================================================

In [89]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [90]:
missing = pd.DataFrame({
    'total' : data.isnull().sum(),
    'percent' : data.isnull().sum()/data.shape[0] * 100})
    
missing

             total    percent
PassengerId      0   0.000000
Pclass           0   0.000000
Name             0   0.000000
Sex              0   0.000000
Age            177  19.865320
SibSp            0   0.000000
Parch            0   0.000000
Ticket           0   0.000000
Cabin          687  77.104377
Embarked         2   0.224467
Survived         0   0.000000

In [91]:
del data['Name']
del data['Ticket']
del data['Cabin']

In [92]:

lbenc = LabelEncoder()
for i in data.columns.values:
    if data[i].dtypes == 'object':
        data[i] = lbenc.fit_transform(data[i])

data.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch  Embarked  Survived
0            1       3    1  22.0      1      0         2         0
1            2       1    0  38.0      1      0         0         1
2            3       3    0  26.0      0      0         2         1
3            4       1    0  35.0      1      0         2         1
4            5       3    1  35.0      0      0         2         0

In [94]:
meanS1 = data[data.Survived==1].Age.mean()
data['Age'] = np.where(pd.isnull(data['Age']) & data['Survived'] == 1, meanS1, data['Age'])

meanS0 = data[data.Survived==1].Age.mean()
data['Age'].fillna(meanS0, inplace=True)

data.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
Survived       0
dtype: int64

In [95]:
data.dropna(inplace=True)